#template('notification/macros.vm')
###
### Content
###
#define($content)
  #set ($document = $xwiki.getDocument($event.document))
  <p><strong>$escapetool.xml($services.localization.render('blog.applicationName'))</strong></p>
  <p>$services.localization.render('blog.events.blogpostpublished.displayer', ["<a href='$document.getURL()'>$!escapetool.xml($document.getRenderedTitle('html/5.0'))</a>"])</p>
  <p>$services.localization.render('notifications.events.by', ["#displayNotificationEventUsers($event.users)"])</p>
  #set ($dates = $event.dates)
  #if ($dates.size() > 1)
    <p><small>$services.localization.render('notifications.events.lastChange', [$xwiki.formatDate($event.dates.get(0))])</small></p>
  #else
    <p><small>$escapetool.xml($xwiki.formatDate($event.dates.get(0)))</small></p>
  #end
#end
###
### Details
###
#define($details)
  #if ($event.events.size() > 1)
    #define($rows)
      #foreach($ev in $event.events)
        <tr>
          #set ($type = "$!ev.type")
          #set ($icon = 'page')
          #if ($type == 'org.xwiki.platform.blog.events.BlogPostPublishedEvent')
            #set ($type = $services.localization.render('blog.publisher.published'))
            #set ($icon = 'rss')
          #end
          <td>$!services.icon.renderHTML($icon) $!escapetool.xml($type)</td>
          <td>#displayNotificationEventUser($ev.user)</td>
          <td class="text-right">$escapetool.xml($xwiki.formatDate($ev.date))</td>
        </tr>
      #end
    #end
    #displayNotificationEventDetailsSkeletons($event.events.size(), $rows)
  #end
#end
###
### Display the notification
###
#displayNotificationEventSkeleton('rss', $content, $details)
